body {
    margin: 0%;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-items-wrapper {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.hero-items {
    display: flex;
    align-items: stretch; 
    max-width: 900px;
    max-height: 320px;
    flex: 1;
    padding: 0%;
    margin: 0%;
}

.hero-item{
    flex: 1;
}
.img-wrapper {
    flex: 1;
    background-image: url(../img/birds.jpg);
    background-size: 100% 100%;
}

h1 {
    font-size: 48px;
    margin: 0%;
}


.img-wrapper {
    display: flex;
    align-items: stretch;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 4px 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px 0px;
}

.random-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.some-random-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.full-picture-content-wrapper {
    padding-bottom: 32px;
}

.picture-content-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.picture-content {
    

}

.picture-wrapper {
    min-height: 180px;
    max-width: 200px;
    border: 2px blue solid;
    border-radius: 15px;
}

.text-wrapper {
    max-width: 200px;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
}

.quote-section-wrapper {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.quote-section {
    max-width: 720px;
}

.quote-wrapper {
    background-color: #e5e7eb;
    font-size: 36px;  
    font-style: italic; 
    color: #1f2937;
}

.quoted-person {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-style: italic;
}

.call-to-action-wrapper {
    display: flex;
    padding: 60px;
    justify-content: center;
}

.cta-content-wrapper {
    display: flex;
    background-color: #3882f6;
    padding: 20px;
    min-width: 900px;
    justify-content: space-between;
}

.cta-content {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}


.cta-header {
    font-size: 24px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

p {
    margin: 0%;
    padding: 0%;
}

.footer-button {
    border: solid 2px white;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 0px 32px;
    font-weight: bold;
}