body {
    background-color: #0c0f14;
}

.body {
    height: 100vh;
    width: 1200px;
    background-color: blanchedalmond;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    }

.header {

    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0 10px;
    padding: 0%;
    gap: 18px;
    font-size: 18px;
}

li {
    
}

.containertwo {

    background-color: #1f2937;
    height: 200px;
}

.containerthree {
    background-color: #f9faf8;
    height: 40px;

}

.containerfour {
    background-color: #f9faf8;
    height: 200px;

}

.containerfive {
    background-color: #e5e7eb;
    height: 200px;

}

.containersix {
    background-color: #f9faf8;
    height: 200px;
}


.footer {

    background-color: #1f2937;
    height: 30px;

}
